# Ignore Python virtual environments
myenv/

# Ignore other common files
*.pyc
*__pycache__/
.DS_Store  # if you're on macOS

# Ignore Node modules in your React app
/frontend/node_modules/

# Ignore production builds
/frontend/build/

.env